.background {
background-color: gold;
}

.midden {
display: flex;
justify-content: center;
font-size: 250px;
color: black;
}

.onder {
display: flex;
justify-content: center;
font-size: 200px;
  color: black;
}
